:root{
    --poppins: 'Poppins', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
    --padding-container: 80px 0;
    
}

*{
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: var(--open-sans);
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
    border: 10px solid red;
}

.hero{
    min-height: 100vh;
    position: relative;
    --wave-bottom: url("../images/bg-section-top-mobile-1.svgq");
}

.hero__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    --padding-container: 60px 0 45px;
}

.hero__logo{
    width: 45%;
    max-width: 160px;
}

.nav__img{
    width: 100%;
    display: block;
}

.hero__cta{
    color: var(--Light-Pink);
    text-decoration: none;
    border: 2px solid;
    padding: 6px 16px;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0 0 1px;
}

.hero__main{
    text-align: center;
    color: var(--Very-Dark-Cyan);
}

.hero__title{
    font-family: var(--poppins);
}

.hero__paragraph{
    margin: 16px 0;
    line-height: 1.5;
    margin: 16px auto;
}

.cta{
    display: inline-block;
    background-color: var(--Pink);
    color: #fff;
    text-decoration: none;
    padding: 16px 30px;
    border-radius: 30px;
    margin-top: 16px;
}

.hero__picture{
    margin-top: 80px;
}

.hero__img{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

.hero__numbers{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    gap: 60px;
}

.hero__items{
    overflow: hidden;
    margin-bottom: 0px;
}

.hero__number{
    font-size: 60px;
}

.hero__icon{
    display: block;
}

.wave{
    position: absolute;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100px;

}

.wave--bottom{
    left: 0;
    bottom: 0;
    background-image: var(--wave-bottom);
}

.wave--top{
    left: 0;
    top: 0;
    background-image: var(--wave-top);
}

.section{
    background-color: var(--Very-Pale-Blue);
    --padding-container: 110px 0;
}

.section--white{
    background-color: rgb(3, 1, 1);
    position: relative;
    --padding-container: 210px 0;
    --wave-top: url("../images/bg-section-bottom-mobile-1.svg");
    --wave-bottom: url("../images/bg-section-top");

}
.section__container{
    display: flex;
    flex-direction: column;
}

.section__img{
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 0 auto;
}

.section__texts{
    margin-top: 50px;
    text-align: center;
}

.section__subtitle{
    margin-bottom: 16px;
    font-family: var(--poppins);
}